body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #65f3bc;
}
form {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  margin: 50px auto;
  padding: 30px 50px 50px 50px;
  border: 5px solid #ffffff;
  border-radius: 10px;
}
form label {
  font-size: 27px;
  color: #ffffff;
  padding: 20px 0px;
}
form label input,
form label select {padding: 10px 0px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 20px;
}
form label select {
  margin-bottom: 10px;
}
form button {
  height: 50px;
  border: 2px solid #dd3636;
  border-radius: 10px;
  color: #40c734;
  font-size: 27px;
  font-weight: 600;
  background-color: #ffffff;
}

form button:disabled {
  opacity: 0,5;
} 